.landing-page-link {
  text-decoration: none;
  color: #000;
  text-align: center;
}

.landing-page-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 13rem;
  margin-bottom: 0.5rem;
}
