---
import Layout from '~/layouts/layout.astro';
---

<Layout
  path="/"
  title="Főoldal"
  description="Margittai Neumann János (John von Neumann, született: Neumann János Lajos) magyar születésű matematikus. Kvantummechanikai elméleti kutatásai mellett a digitális számítógép elvi alapjainak lefektetésével vált ismertté."
>
  <main class="container">
    <section class="row mt-5 row-gap-3">
      <div class="col-md-4">
        <img
          class="img-fluid img-thumbnail"
          src="/neumann.jpg"
          alt="Neumann János"
          title="Neumann János"
        />
      </div>

      <div class="col-md-8">
        <h1 class="mb-0">Neumann János</h1>

        <p class="fw-bold">
          Budapest, Lipótváros, 1903. december 28. - Washington, 1957. február 8.
        </p>
        <p>
          Margittai Neumann János (John von Neumann, született: Neumann János Lajos) magyar
          születésű matematikus. Kvantummechanikai elméleti kutatásai mellett a digitális számítógép
          elvi alapjainak lefektetésével vált ismertté.
        </p>
        <p>
          Apja Neumann Miksa bankár, anyja Kann Margit. Két öccse született: Mihály (1907) chicagói
          orvos és Miklós (1911) philadelphiai jogász.
        </p>
      </div>
    </section>

    <div class="row pt-5">
      <div class="col-12">
        <h2>Tartalom:</h2>
      </div>
    </div>

    <section class="row row-gap-3">
      <div class="col-md-4">
        <a href="/gyerekkora">
          <img class="img-thumbnail img-fluid" src="/neumann_gyerekkora.jpg" alt="Gyerekkora" />
          <span>Gyerekkora</span></a
        >
      </div>

      <div class="col-md-4">
        <a href="/munkassaga">
          <img class="img-thumbnail img-fluid" src="/neumann_munkassaga.jpg" alt="Munkássága" />
          <span>Munkássága</span></a
        >
      </div>

      <div class="col-md-4">
        <a href="/amerika">
          <img class="img-thumbnail img-fluid" src="/neumann_belyeg.jpg" alt="Amerika" />
          <span>Amerika</span></a
        >
      </div>
    </section>

    <section class="row pt-5">
      <div class="col-12">
        <h2>English summary:</h2>

        <p>
          John von Neuman (born Neumann János Lajos) was a Hungarian mathematician. Who lived
          between December 28, 1903 and February 8, 1957, he was born in Budapest, Hungary. He's
          father was Miksa Neumann, he's mother was Margit Kann. He had two brothers Mihály and
          Miklós.
        </p>
      </div>
    </section>

    <section class="row pt-5">
      <div class="col-12">
        <h2>Forrás:</h2>

        <ul>
          <li>
            Neumann:
            <a
              class="link"
              href="https://hu.wikipedia.org/wiki/Neumann_J%C3%A1nos"
              target="_blank"
              rel="noopener noreferrer">Wikipédia</a
            >
          </li>
          <li>
            Neumann-elvek:
            <a
              class="link"
              href="https://hu.wikipedia.org/wiki/Neumann-elvek"
              target="_blank"
              rel="noopener noreferrer">Wikipédia</a
            >
          </li>
          <li>
            Manhattan terv:
            <a
              class="link"
              href="https://hu.wikipedia.org/wiki/Manhattan_terv"
              target="_blank"
              rel="noopener noreferrer">Wikipédia</a
            >
          </li>
          <li>
            Képek:
            <a
              class="link"
              href="https://www.google.com/imghp"
              target="_blank"
              rel="noopener noreferrer">Google</a
            >
          </li>
        </ul>
      </div>
    </section>
  </main>
</Layout>

<style lang="scss">
  a {
    color: black;
    text-decoration: none;

    span {
      display: block;
      margin-top: 0.25rem;
      text-align: center;
    }

    img {
      width: 100%;
      max-height: 13rem;
      object-fit: cover;
      object-position: center;
    }
  }

  li > a {
    color: #05f;
  }
</style>
