<footer class="footer bg-light text-muted">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center p-4">
        <p class="mb-0">© 2022 IKT Projekt: Neumann Élete</p>
        <p class="text-reset fw-bold mb-0">
          Mészáros Zalán -
          <a
            class="text-reset fw-bold link"
            href="https://znagy.hu"
            target="_blank"
            rel="noopener noreferrer">Nagy Zétény</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
